@model NoteFormObject

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Body" class="control-label"></label>
    <textarea asp-for="Body" class="form-control"></textarea>
    <span asp-validation-for="Body" class="text-danger"></span>
</div>
<div id="NoteEditor"></div>
<div class="form-group">
    <label asp-for="TagList" class="control-label"></label>
    <input asp-for="TagList" class="form-control" />
    <span asp-validation-for="TagList" class="text-danger"></span>
</div>
