@model NoteFormObject

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form id="NoteForm" asp-action="Create">
    @await Html.PartialAsync("_Form")
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

