@model NoteFormObject

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form id="NoteForm" asp-action="Edit">
    <div class="form-horizontal">
        <h4>Note</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Body" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Body" class="form-control"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
        </div>
        <div id="NoteEditor"></div>
        <div class="form-group">
            <label asp-for="TagList" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TagList" class="form-control" />
                <span asp-validation-for="TagList" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

